[submodule "yuzu/lib/forge-std"]
	path = yuzu/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "yuzu/lib/interop-lib"]
	path = yuzu/lib/interop-lib
	url = https://github.com/ethereum-optimism/interop-lib
