/*
Font: 		Gilmer
Style: 		Bold
URL: 		https://www.youworkforthem.com/font/T9758/gilmer
Foundry: 	Piotr Lapa
Foundry: 	https://www.youworkforthem.com/designer/1166/piotr-lapa
Copyright:	Copyright © 2018 by Piotr _apa. All rights reserved.
Version: 	17
Created:	August 17, 2018
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
    font-family: "Gilmer-Bold";
    src: url("../../public/fonts/gilmer-bold/webfonts/gilmer-bold.eot");
    src:
        url("../../public/fonts/gilmer-bold/webfonts/gilmer-bold.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/gilmer-bold/webfonts/gilmer-bold.woff2") format("woff2"),
        url("../../public/fonts/gilmer-bold/webfonts/gilmer-bold.woff") format("woff"),
        url("../../public/fonts/gilmer-bold/webfonts/gilmer-bold.ttf") format("truetype"),
        url("../../public/fonts/gilmer-bold/webfonts/gilmer-bold.svg#youworkforthem") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilmer-Regular";
    src: url("../../public/fonts/gilmer-regular/webfonts/gilmer-regular.eot");
    src:
        url("../../public/fonts/gilmer-regular/webfonts/gilmer-regular.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/gilmer-regular/webfonts/gilmer-regular.woff2") format("woff2"),
        url("../../public/fonts/gilmer-regular/webfonts/gilmer-regular.woff") format("woff"),
        url("../../public/fonts/gilmer-regular/webfonts/gilmer-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilmer-Heavy";
    src: url("../../public/fonts/gilmer-heavy/webfonts/gilmer-heavy.eot");
    src:
        url("../../public/fonts/gilmer-heavy/webfonts/gilmer-heavy.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/gilmer-heavy/webfonts/gilmer-heavy.woff2") format("woff2"),
        url("../../public/fonts/gilmer-heavy/webfonts/gilmer-heavy.woff") format("woff"),
        url("../../public/fonts/gilmer-heavy/webfonts/gilmer-heavy.ttf") format("truetype"),
        url("../../public/fonts/gilmer-heavy/webfonts/gilmer-heavy.svg#youworkforthem") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilmer-Light";
    src: url("../../public/fonts/gilmer-light/webfonts/gilmer-light.eot");
    src:
        url("../../public/fonts/gilmer-light/webfonts/gilmer-light.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/gilmer-light/webfonts/gilmer-light.woff2") format("woff2"),
        url("../../public/fonts/gilmer-light/webfonts/gilmer-light.woff") format("woff"),
        url("../../public/fonts/gilmer-light/webfonts/gilmer-light.ttf") format("truetype"),
        url("../../public/fonts/gilmer-light/webfonts/gilmer-light.svg#youworkforthem") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilmer-Medium";
    src: url("../../public/fonts/gilmer-medium/webfonts/gilmer-medium.eot");
    src:
        url("../../public/fonts/gilmer-medium/webfonts/gilmer-medium.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/gilmer-medium/webfonts/gilmer-medium.woff2") format("woff2"),
        url("../../public/fonts/gilmer-medium/webfonts/gilmer-medium.woff") format("woff"),
        url("../../public/fonts/gilmer-medium/webfonts/gilmer-medium.ttf") format("truetype"),
        url("../../public/fonts/gilmer-medium/webfonts/gilmer-medium.svg#youworkforthem") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
